body{
    background-color:#7ce681;
    font-family: 'DSN Katreeya';
    color: black; 
    font-size: 25px;

}
span{
    
    font-size: 20px;
}

#topic{
    color: rgb(0, 0, 0);
    
    font-size: 50px;
}
#Loginform{
    background-color:rgb(241, 229, 116);
    
}
